version: '3.3'
services:
  db:
    image: mysql:5.7
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: 'development'
      MYSQL_ROOT_PASSWORD: 'pass'
    ports:
      - "3306:3306"
  app:
    image: phpmyadmin/phpmyadmin:latest
    links:
      - db
    ports:
      - "8080:80"
    environment:
      - PMA_ARBITRARY=1
